$navbar-height: 60px;

#app {
  height: 100%;
}

.navbar-wrapper {
  height: $navbar-height;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;

  .header {
    padding: 6px 0;
  }

  .navbar-brand {
    display: inline-block;
    padding: 8px 16px;
    line-height: 1;
  }

  a {
    font-size: 18px;
    padding: 8px 20px;
    vertical-align: middle;
    border-radius: 4px;
  }

  a:hover {
    background-color: #f6f6f6;
    transition: background-color .3s;
  }
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.content-wrapper {
  margin-top: $navbar-height;
  height: calc(100% - #{$navbar-height});

  .el-scrollbar__wrap {
    overflow-x: hidden;
  }

  .el-scrollbar__bar.is-horizontal {
    display: none;
  }

  .content {
    padding: 10px 0;
  }
}
