.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clear-fix {
  clear: both;
}

.container {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.content {
  padding: 15px 10px;
}

.v-form-item {
  .label {
    color: rgba(0, 0, 0, .54);
    font-size: 16px;
    margin-bottom: 5px;
  }

  &.has-error {
    .label {
      color: $error-color;
    }
  }

  .error-message {
    margin-top: 4px;
    font-size: 12px;
    color: $error-color;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    height: 18px;
  }
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.page-desc {
  text-align: center;
  color: $non-important-color;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 900;
}
