.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clear-fix {
  clear: both;
}

.navbar-wrapper {
  height: $navbar-height;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;

  .header {
    padding: 6px 0;
  }

  .navbar-brand {
    padding: ($navbar-height - 60px) / 2 + 8px 20px;
  }

  a {
    font-size: 18px;
    padding: ($navbar-height - 60px) / 2 + 14px 20px;
    vertical-align: middle;
    border-radius: 4px;
    display: inline-block;
  }

  a:hover {
    background-color: #f6f6f6;
    transition: background-color .3s;
  }

  .more {
    & > a {
      cursor: pointer;
      padding: 12px;
      font-size: 24px;
    }
  }
}

.container {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.content-wrapper {
  margin-top: $navbar-height;

  .content {
    padding: 10px 10px;
  }
}

.note-item {
  margin-bottom: 10px;

  .el-card__header {
    border-bottom: none;
    padding-bottom: 10px;

    .time {
      float: right;
      color: $non-important-color;
      font-size: 14px;
    }
  }

  .el-card__body {
    padding-top: 10px;
  }

  .card-footer {
    margin-top: 20px;

    .el-tag {
      margin-right: 10px;
      margin-bottom: 5px;
    }
  }

  .title {
    color: $non-important-color;
    font-size: 14px;
  }

  .belong {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }
}

.book-widget {
  .books {
    .el-card {
      margin-bottom: 10px;
    }

    .cover {
      width: 100%;
      display: block;
    }

    .info {
      padding: 15px;
    }

    .el-card__body {
      padding: 0;
    }

    .el-progress-bar__outer,
    .el-progress-bar__inner {
      border-radius: unset;
    }

    .title {
      margin-bottom: 10px;
    }

    .footer {
      color: #8590a6;
      font-size: 14px;
    }
  }
}
